/* css for p1 */



/* css for p2 */

.p2background {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    overflow: hidden;
}

.p1title {
    font-family: 'Press Start 2P', cursive;
    font-size: 13vmin;
    text-align: center;
    text-shadow: white 5px 5px 10px;
    background: -webkit-linear-gradient(35deg, #d46ac7, #9a7ec4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    padding-top: 70px;
    animation-name: fade;
    animation-duration: 4s;
}

@keyframes fade {
    0% {
      opacity: 0.0;}
    }

.sidebar {
    font-family: Helvetica, sans-serif;
    height: 60%; /* Full-height: remove this if you want "auto" height */
    width: 300px; /* Set the width of the sidebar */
    position: absolute; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 230px; /* Stay at the top */
    left: 80px;
    overflow-x: hidden; /* Disable horizontal scroll */
    margin-top: 20px;
  }

  .sidebar__tourdates {
    font-family: Helvetica, sans-serif;
    text-shadow: #d46ac7 5px 5px 10px;
    font-size: 33px;
    color: white;
    font-size: 3.5vmin;
  }

  .sidebar__dates{
      font-family: Helvetica, sans-serif;
      font-size: 20px;
      color: white;
      font-size: 2.2vmin;
  }

  .sidebar__tourdates:hover {
    opacity: 0.6;
    color: #9a7ec4;
  }

  .container {
    font-family: Helvetica, sans-serif;
    height: auto; /* Full-height: remove this if you want "auto" height */
    width: auto; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 240px; /* Stay at the top */
    margin-left: 350px;
    margin-right: 150px;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    font-size: 2vmin;
    margin-bottom: 30px;
  }